<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Root URL</key>
	<string>http://192.168.6.18/AiresStaging/config.txt</string>
	<key>Service Path</key>
	<dict>
		<key>Logout</key>
		<string>Logout</string>
		<key>Project</key>
		<string>ProjectDetails</string>
		<key>Login</key>
		<string>Login</string>
	</dict>
	<key>Data Service URL</key>
	<string>http://192.168.6.18/AiresStaging/DataServices/AiresDataService.svc</string>
	<key>Data Service Path</key>
	<dict>
		<key>Projects</key>
		<string>Projects</string>
		<key>Chemicals</key>
		<string>Chemicals</string>
		<key>Device Types</key>
		<string>DeviceTypes</string>
		<key>Protection Equipments</key>
		<string>PPEs</string>
	</dict>
</dict>
</plist>
